In [1]:
# Importing dependencies
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [2]:
# Authentication
host = "<end-point>"
port = 5432
dbname = "<database name>"
user = "<username>"
password = "<password>"

In [3]:
#Creating an engine
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}/{dbname}')
conn = engine.connect()

In [4]:
# Reading query into dataframe for office products nonvine
office_products_nonvine = pd.read_sql('''
SELECT
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine,
   COUNT(v.review_id) as total_reviews,
   ROUND(AVG(v.star_rating), 3) as avg_star_rating,
   ROUND(AVG(v.helpful_votes), 3) as avg_helpful_votes,
   ROUND(AVG(v.total_votes), 3) as avg_total_votes 
FROM
   products p 
   INNER JOIN
      review_id_table r 
      ON p.product_id = r.product_id 
   RIGHT JOIN
      vine_table v 
      ON v.review_id = r.review_id 
WHERE
   v.vine = 'N' 
   AND r.product_category = 'Office Products' 
GROUP BY
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine
HAVING
   COUNT(v.review_id) BETWEEN 15 and 300
ORDER BY
   total_reviews DESC LIMIT 100;''', conn)

In [5]:
# Displaying first 5
office_products_nonvine.head()

,product_category,product_id,product_title,vine,total_reviews,avg_star_rating,avg_helpful_votes,avg_total_votes
0,Office Products,1933622741,"Mighty Bright 40514 XtraFlex2 Book Light, Green",N,109,4.569,0.367,0.404
1,Office Products,B000BI92SW,"Oxford Portfile Portable File Box, Granite, 11...",N,67,4.134,2.254,2.791
2,Office Products,B0009HKEXM,GE Grounded Adapter-Spaced Six-Outlet Tap,N,41,4.024,16.780,17.634
3,Office Products,B00M7TVSG2,TaoTronics Led Desk Lamp,N,40,4.525,7.375,7.900
4,Office Products,B009QPFBDG,NEW BIG Monster Energy Drink Promo Sign Banner...,N,36,4.472,0.083,0.167

In [6]:
# Reading query into dataframe for office products vine
office_products_vine = pd.read_sql('''
SELECT
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine,
   COUNT(v.review_id) as total_reviews,
   ROUND(AVG(v.star_rating), 3) as avg_star_rating,
   ROUND(AVG(v.helpful_votes), 3) as avg_helpful_votes,
   ROUND(AVG(v.total_votes), 3) as avg_total_votes 
FROM
   products p 
   INNER JOIN
      review_id_table r 
      ON p.product_id = r.product_id 
   RIGHT JOIN
      vine_table v 
      ON v.review_id = r.review_id 
WHERE
   v.vine = 'Y' 
   AND r.product_category = 'Office Products' 
GROUP BY
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine 
ORDER BY
   total_reviews DESC LIMIT 100;''', conn)

In [7]:
# No office_products_vine that fit criteria of client
office_products_vine.head()

Empty DataFrame
Columns: [product_category, product_id, product_title, vine, total_reviews, avg_star_rating, avg_helpful_votes, avg_total_votes]
Index: []

In [8]:
# Reading query into dataframe for home improvement nonvine
home_improvement_nonvine = pd.read_sql('''
SELECT
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine,
   COUNT(v.review_id) as total_reviews,
   ROUND(AVG(v.star_rating), 3) as avg_star_rating,
   ROUND(AVG(v.helpful_votes), 3) as avg_helpful_votes,
   ROUND(AVG(v.total_votes), 3) as avg_total_votes 
FROM
   products p 
   INNER JOIN
      review_id_table r 
      ON p.product_id = r.product_id 
   RIGHT JOIN
      vine_table v 
      ON v.review_id = r.review_id 
WHERE
   v.vine = 'N' 
   AND r.product_category = 'Home Improvement' 
GROUP BY
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine
HAVING
   COUNT(v.review_id) BETWEEN 15 and 300 
ORDER BY
   total_reviews DESC LIMIT 100;''', conn)

In [9]:

home_improvement_nonvine.head()

,product_category,product_id,product_title,vine,total_reviews,avg_star_rating,avg_helpful_votes,avg_total_votes
0,Home Improvement,B000CSY1JG,2 pack Linear 3089 Gate Opener or Garage Door ...,N,300,4.427,0.277,0.377
1,Home Improvement,B00CME2MZS,Ivation 6 LED Automatic Motion-sensing Night L...,N,300,4.437,0.997,1.157
2,Home Improvement,B004INTGKK,Brita On Tap Filtration System,N,300,3.057,2.810,3.080
3,Home Improvement,B004BIHF50,Drive Gear for Sears Crafsman Liftmaster Chamb...,N,300,4.680,0.483,0.580
4,Home Improvement,B0015C4YFO,Elongated Molded Wood Toilet Seat with Easy Cl...,N,300,4.313,1.540,1.723

In [10]:
# Reading query into dataframe for home improvement vine
home_improvement_vine = pd.read_sql('''
SELECT
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine,
   COUNT(v.review_id) as total_reviews,
   ROUND(AVG(v.star_rating), 3) as avg_star_rating,
   ROUND(AVG(v.helpful_votes), 3) as avg_helpful_votes,
   ROUND(AVG(v.total_votes), 3) as avg_total_votes 
FROM
   products p 
   INNER JOIN
      review_id_table r 
      ON p.product_id = r.product_id 
   RIGHT JOIN
      vine_table v 
      ON v.review_id = r.review_id 
WHERE
   v.vine = 'Y' 
   AND r.product_category = 'Home Improvement' 
GROUP BY
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine
HAVING
   COUNT(v.review_id) BETWEEN 15 and 300  
ORDER BY
   total_reviews DESC LIMIT 100;
''', conn)

In [11]:
# Display first 5
home_improvement_vine.head()

,product_category,product_id,product_title,vine,total_reviews,avg_star_rating,avg_helpful_votes,avg_total_votes
0,Home Improvement,B0000CFLYU,Command Designer Hooks,Y,56,4.643,0.161,0.196
1,Home Improvement,B00APB0IX8,Toyota Tsusho 4TTO18174 8.5-watt LED Light Bulb,Y,31,4.387,0.129,0.355
2,Home Improvement,B009XELXDW,OttLite L24554 Task Plus High-Definition 24-Wa...,Y,31,4.355,3.452,3.839
3,Home Improvement,B00CIQW1YC,KRUD KUTTER CR01/2 Carpet Cleaner/Stain Remover,Y,31,4.484,0.710,0.935
4,Home Improvement,B00APL6Q0W,"Chamberlain WD832KEV Garage Door Opener, ½ HP,...",Y,31,4.710,0.129,0.419

In [12]:
# Reading query into dataframe for lawn and garden nonvine
lawn_and_garden_nonvine = pd.read_sql('''
SELECT
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine,
   COUNT(v.review_id) as total_reviews,
   ROUND(AVG(v.star_rating), 3) as avg_star_rating,
   ROUND(AVG(v.helpful_votes), 3) as avg_helpful_votes,
   ROUND(AVG(v.total_votes), 3) as avg_total_votes 
FROM
   products p 
   INNER JOIN
      review_id_table r 
      ON p.product_id = r.product_id 
   RIGHT JOIN
      vine_table v 
      ON v.review_id = r.review_id 
WHERE
   v.vine = 'N' 
   AND r.product_category = 'Lawn and Garden' 
GROUP BY
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine
HAVING
   COUNT(v.review_id) BETWEEN 15 and 300 
ORDER BY
   total_reviews DESC LIMIT 100;''', conn)

In [13]:
# Displaying first 5
lawn_and_garden_nonvine.head()

,product_category,product_id,product_title,vine,total_reviews,avg_star_rating,avg_helpful_votes,avg_total_votes
0,Lawn and Garden,B00K0W30UU,ADX LED-STRIP-NA Strip 16.4FT SMD Water-Resist...,N,289,3.221,0.401,0.519
1,Lawn and Garden,B0019LY8QG,PIC Wasp Trap,N,280,3.400,2.464,2.796
2,Lawn and Garden,B009AMHW5U,Innoo Tech White Solar String Lights Outdoor S...,N,252,3.476,1.250,1.571
3,Lawn and Garden,B00M0FYF7C,Signstek 10 LED Wireless Light-operated Motion...,N,116,4.129,1.862,2.069
4,Lawn and Garden,B00WUD4EQG,InnoGear Upgraded Solar Lights 2-in-1 Waterpro...,N,96,4.229,0.458,0.708

In [14]:
# Reading query into dataframe for lawn and garden vine
lawn_and_garden_vine = pd.read_sql('''
SELECT
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine,
   COUNT(v.review_id) as total_reviews,
   ROUND(AVG(v.star_rating), 3) as avg_star_rating,
   ROUND(AVG(v.helpful_votes), 3) as avg_helpful_votes,
   ROUND(AVG(v.total_votes), 3) as avg_total_votes 
FROM
   products p 
   INNER JOIN
      review_id_table r 
      ON p.product_id = r.product_id 
   RIGHT JOIN
      vine_table v 
      ON v.review_id = r.review_id 
WHERE
   v.vine = 'Y' 
   AND r.product_category = 'Lawn and Garden' 
GROUP BY
   r.product_category,
   p.product_id,
   p.product_title,
   v.vine
HAVING
   COUNT(v.review_id) BETWEEN 15 and 300 
ORDER BY
   total_reviews DESC LIMIT 100;''', conn)

In [15]:
# No lawn_and_garden_vine that fit criteria of client
lawn_and_garden_vine.head()

Empty DataFrame
Columns: [product_category, product_id, product_title, vine, total_reviews, avg_star_rating, avg_helpful_votes, avg_total_votes]
Index: []

In [16]:
# Unioning non-vine into a single dataframe
non_vine_df = pd.concat([office_products_nonvine, home_improvement_nonvine, lawn_and_garden_nonvine])

In [17]:
# Displaying top 5
non_vine_df.head()
non_vine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_category   129 non-null    object
 1   product_id         129 non-null    object
 2   product_title      129 non-null    object
 3   vine               129 non-null    object
 4   total_reviews      129 non-null    int64
 5   avg_star_rating    129 non-null    float64
 6   avg_helpful_votes  129 non-null    float64
 7   avg_total_votes    129 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 9.1+ KB

In [18]:
# Unioning vine into a single dataframe
vine_df = pd.concat([office_products_vine, home_improvement_vine, lawn_and_garden_vine])

In [19]:
# Displaying top 5
vine_df.head()
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_category   100 non-null    object
 1   product_id         100 non-null    object
 2   product_title      100 non-null    object
 3   vine               100 non-null    object
 4   total_reviews      100 non-null    object
 5   avg_star_rating    100 non-null    object
 6   avg_helpful_votes  100 non-null    object
 7   avg_total_votes    100 non-null    object
dtypes: object(8)
memory usage: 7.0+ KB

In [21]:
import os
filepath = os.path.join("C:", "Users", "Dylan2","Desktop","Amazon Products")

# exporting non_vine_df into csv
non_vine_df.to_csv(filepath,"non_vine.csv")

# explorting vine_df into csv
vine_df.to_csv(filepath,"vine.csv")